*{
    padding: 0;
    margin: 0;
}
#game{
    background-image: url('background_image.png');
    width: 1500px;
    height: 730px;
    background-size: cover;
    background-position: center;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
}
#block{
    background-image: url('pillar.jpeg');
    width: 70px;
    height: 730px;
    position: relative;
    left: 1550px;
    animation: block 5s infinite linear;
}
@keyframes block{
    0%{left:1450px}
    100%{left:-50px}
}
#hole{
    width: 70px;
    height: 300px;
    background-color: white;
    position: relative;
    left: 1550px;
    top: -700px;
    animation: block 5s infinite linear;
}
#flying-bird{
    background-image: url('bird.gif');
    width: 60px;
    height: 60px;
    top: 100px;
    position: absolute;
}